@font-face {
  font-family: 'Palmer Lake Print';
  src: url('PalmerLakePrint-Regular.eot');
  src: local('Palmer Lake Print'), local('PalmerLakePrint-Regular'),
      url('PalmerLakePrint-Regular.eot?#iefix') format('embedded-opentype'),
      url('PalmerLakePrint-Regular.woff2') format('woff2'),
      url('PalmerLakePrint-Regular.woff') format('woff'),
      url('PalmerLakePrint-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.pc-quienes-somos-container {
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/Principal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20%;
  padding-top: 20%;
}

.background-image {
  width: 100%;
  height: 400px; /* Adjust height as needed */
  background-size: cover;
  background-position: center;
}

.content-box {
  width: 80%;
  max-width: 960px; /* Max width for content */
  margin-top: -100px; /* Overlap with the image */
  background-color: #DFFFDC;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative; /* Needed for z-index */
  z-index: 1; /* Bring content box to front */
}

.title-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.title-section h1 {
  font-family: 'Palmer Lake Print', cursive;
  font-style: oblique; /* Example font */
  font-size: 5em;
  margin: 0 20px;
  color: #000000;
  font-weight: bolder;
}

.star {
  font-size: 5em;
  color: #f0b90b;
}

.text-block-1,
.text-block-2 {
  font-family: 'Palmer Lake Print', sans-serif; /* Example font */
  font-style: normal;
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
  width: 70%; /* Adjust width as needed */
  margin-left: auto;
  margin-right: auto;
}