@font-face {
  font-family: 'Palmer Lake Print';
  src: url('PalmerLakePrint-Regular.eot');
  src: local('Palmer Lake Print'), local('PalmerLakePrint-Regular'),
      url('PalmerLakePrint-Regular.eot?#iefix') format('embedded-opentype'),
      url('PalmerLakePrint-Regular.woff2') format('woff2'),
      url('PalmerLakePrint-Regular.woff') format('woff'),
      url('PalmerLakePrint-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.senderismo-page {
  background-color: #EDE1E1; /* White background for the page */
  color: #000000; /* Dark grey for text */
  font-family: 'Palmer Lake Print', cursive;
  margin: 0;
  padding: 0;
}

.senderismo-hero-section {
  position: relative;
  width: 100%;
  height: 850px; /* Adjust based on Figma */
  background-color: #EDE1E1; /* Replace with your image */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  color: white;
  text-align: center;
  flex-direction: column;
  margin-bottom: 80px;
}

.hero-content-senderismo {
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
  align-items: flex-end;
  justify-content: center;
  display: flex;
  position: relative;
  bottom: 5vw;
  left: 30%;
}

.hero-content-senderismo h1 {
  font-family: 'Palmer Lake Print', cursive;
  font-style: oblique;
  font-weight: 900;
  font-size: 4vw;
  margin-bottom: 20px;
  color: #000000;
  text-transform: uppercase;
  padding: 15px;
  top: 5.8vh;
  position: relative;
}

.senderismo-image1 {
  width: 55vw;
  height: 48vh;
  position: relative;
  right: 13vw;
  bottom: 5vh;
}

.senderismo-textInicial {
  position: absolute;
  display: flex;
  bottom: 2vw;
  left: 62vw;
  width: 27vw;
  height: 49vh;
  border-radius: 15px;
  background-color: #B1BFB0;
  align-items: center;
  justify-content: center;
  font-family: 'Palmer Lake Print', sans-serif;
  font-weight: 900;
  font-size: 1.3vw;
  color: #000000;
  padding: 0 3vw 0 3vw;
}

.decoration-senderismo {
  position: absolute;
  width: 27%;
  height: 47%;
  bottom: 10%;
  left: 62.7%;
  pointer-events: none;
  z-index: 5;
}

.decorationE {
  position: relative;
  width: 5vw;
  height: 5vw;

}

.decoration1 { top: -2vh; left: -3vw; z-index: 10;} /* Icono superior izquierdo */
.decoration2 { top: -2vh; right: -13vw; z-index: 10;} /* Icono superior derecho */
.decoration3 { bottom: -37vh; left: -13vw; z-index: 10;} /* Icono inferior izquierdo */
.decoration4 { bottom: -37vh; right: -3vw; z-index: 10;} /* Icono inferior derecho */

/* Media Montaña Section */
.senderismo-media-montana-section {
  background-image: url("../assets/images/fondo-1-5.png");
  padding: 40px 20px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 30px;
  height: 110vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.senderismo-media-montana-section h2 {
  font-family: 'Palmer Lake Print', cursive;
  font-style: italic;
  font-weight: 900;
  font-size: 3em; /* Adjust size */
  margin-bottom: 30px;
  color: #f3d1d1;
}

.senderismo-niveles-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 12vh 17vw;
  flex-wrap: wrap; /* For responsiveness */
}

.senderismo-nivel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 15vw; /* Adjust width */
}

.CascadaChontales:hover, .CascadaJungla:hover, .LagunaSeca:hover {
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0));
}

.image-wrapper {
  position: relative;
  width: 25vw; /* Adjust size */
  height: 50vh;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 15px;
  border: 2px solid #FFFFFF; /* White border for circle images */
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%); /* Degradado de transparente a negro */
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.image-wrapper:hover::before {
  opacity: 1;
}

.media-text {
  color: #f3d1d1;
  font-family: 'Palmer Lake Print', sans-serif;
  font-weight: 900;
  font-size: 1.7vw;
  width: 25vw;
  padding: 5vh 0 5vh 0;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f3d1d1;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 5vw;
  font-weight: 900;
  font-family: 'Palmer Lake Print', sans-serif;
  font-style: italic;
}

.image-wrapper:hover .overlay-text {
  opacity: 1;
}

.senderismo-media-montana-section .info-text {
  font-size: 1.4em;
  margin-top: 20px;
  margin-bottom: 25px;
}

.senderismo-contactanos-btn {
  background-color: #0F280D; /* Black button */
  color: #FFFFFF;
  padding: 12px 25px;
  border: none;
  border-radius: 20px;
  font-size: 1.5vw;
  cursor: pointer;
  text-transform: uppercase;
  width: 100%;
  text-decoration: none;
}

.senderismo-contactanos-btn:hover {
  background-color: #0F280D;
}

/* Altaa montaña Section */
.senderismo-altaMontana {
  padding: 5vh 10vw;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
  height: 220vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: #EDE1E1;
}

.senderismo-altaMontana h2 {
  font-family: 'Palmer Lake Print', cursive;
  font-style: italic;
  font-weight: 900;
  font-size: 5vw; /* Adjust size */
  margin-bottom: 30px;
  color: #000000;
}

.senderismo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 15vw; /* Adjust width */
}

.LagunaRica:hover, .LagunaNegra:hover, .VeredaAvendaños:hover, .CasaFrailejones:hover {
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0));
}

.wrapper-image {
  position: relative;
  width: 25vw; /* Adjust size */
  height: 50vh;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 15px;
  border: 2px solid #000000; /* White border for circle images */
}

.wrapper-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%); /* Degradado de transparente a negro */
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.wrapper-image:hover::before {
  opacity: 1;
}

.textMedia {
  color: #000000;
  font-family: 'Palmer Lake Print', sans-serif;
  font-weight: 900;
  font-size: 1.7vw;
  width: 25vw;
  padding: 5vh 0 5vh 0;
}

.overlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 5vw;
  font-weight: 900;
  font-family: 'Palmer Lake Print', sans-serif;
  font-style: italic;
}

.wrapper-image:hover .overlayText {
  opacity: 1;
}

.senderismo-altaMontana .info-text {
  font-size: 1.4em;
  margin-top: 20px;
  margin-bottom: 25px;
}